body {
    display: flex;
    background-color: #A8CEE8;
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;
    padding: 0;
    margin: 0
}

.logo {
    width: 250px;
    height: 55px;
    margin-left: 20px;
    margin-bottom: 3px;
    margin-right: 20px
}

header {
    background-color: #334C75;
    width: 100vw;
    font-weight: 600;
    margin: 0;
    padding: 1rem 0
}

.dropdownMenu {
    background-color: #e9e9e9;
    color: #fff
}

#navbarSupportedContent li a{
    color: #7cf0c4;
}
 
.btn-login,
.btn-register {
    color: #fff;
    border-color: #7cf0c0;
    background-color: #5F99D2;
    padding: .4rem;
    border-radius: 5px;
    margin-right: 15px;
    width: 110px;
    text-align: center;
    white-space: nowrap
}

.btn-login:hover,
.btn-register:hover {
    color: rgb(148, 223, 148);
    border-color: #7cf0c0
}

@media (max-width: 992px) {

    .navbar .btn-login,
    .navbar .btn-register,
    .navbar .btn-admin,
    .navbar .btn-primary,
    .navbar .dropdown-menu,
    .navbar .dropdown-item {
        margin-top: 15px;
        background-color: #A8CEE8;
        border: 1px solid #06563b;
        color: #080000
    }

    .navbar .btn-login:hover,
    .navbar .btn-register:hover,
    .navbar .btn-admin:hover,
    .navbar .btn-primary:hover {
        background-color: #05d093;
        border: 1px solid #06564f;
        color: #0a0101
    }
}

.btn-admin {
    color: #fff;
    border-color: #93f07c;
    background-color: #5F99D2;
    padding: .4rem;
    border-radius: 5px;
    margin-right: 15px;
    text-align: center;
    white-space: nowrap
}

.btn-admin:hover {
    border-color:  #86f07c;
    background-color: #5fd2b5;
}

.btn-admin:active,
.btn-admin:focus,
.btn-admin.dropdown-toggle:focus {
    background-color: #5F99D2;
    color: #fff;
    border-color: #86f07c
}

.dropdown-menu {
    background-color: #5F99D2;
}

.dropdown-item {
    color: #000
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #05d08c;
    color: #fff
}

.btn-primary {
    background-color: #5F99D2;
    border-color: #7cf0dd
}

.btn-primary:hover {
    background-color: #05d07b;
    border-color: #9df07c
}

.custom-modal {
    background-color: #A8CEE8;
    color: black
}

.custom-modal label{
    color: black;
}

.custom-modal .modal-header {
    border-bottom: 1px solid #fff3
}

.custom-modal .modal-body {
    color: #fff
}

.custom-modal .btn-primary {
    background-color: #334C75;
    border-color: #7cf09f
}

.custom-modal .btn-primary:hover {
    background-color: #05d05a;
}

main {
    flex: 1
}

.titulo1,
.titulo2,
.titulo3,
.titulo4,
.titulo5 {
    background-color: #334C75;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
    width: 100vw;
    position: relative;
    left: 0
}

.bienvenida {
    background-color: #334C75;
    color: #fff;
    border-radius: 10px;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
    width: 100%;
    position: relative;
    left: 0
}

.card-img-top {
    width: 230px;
    height: 230px;
    display: block;
    margin: 0 auto
}

/* .card {
    height: 400px;
} */

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

section .img-fluid {
    max-height: 100px;
    margin: 10px 0
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    height: 50px;
    top: 50%;
    transform: translateY(-50%)
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 45px;
    height: 45px;
    background-size: 90%;
    border-radius: 50%;
    background-color: #334C75;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
    background-color: #000000e6
}

.publicidad1,
.publicidad2,
.video1 {
    width: 100%;
    height: 30rem;
    max-width: 100%
}

iframe {
    border: none
}

.iframe-mapa {
    width: 100%;
    max-width: 100%;
    height: 400px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.accordion-item {
    background-color: #7cf0cd;
    border: 1px solid #089caf
}

.accordion-button:not(.collapsed) {
    background-color: #334C75;
    color: #fff;
    border-color:#7cf0dd
}

.accordion-button {
    background-color: #fff;
    color: #000000e6;
    border: 1px solid #dee2e6
}

.accordion-collapse {
    border-top: 1px solid #7cf0dd
}

.tarjetaClientes,
.tarjetaProductos,
.tarjetaFacturas {
    background-color: #334C75;
    color: #fff;
    border: 1px solid #7cf0c4;
    border-radius: 5px
}


footer {
    background-color: #334C75;
    color: #fff;
    width: 100vw;
    margin: 0;
    padding: 20px 0;
    text-align: center;
    position: relative;
    z-index: 1
}

#productImagePreview {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    border: 1px solid #ddd;
    padding: 5px
}